.navbar{
    background-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80px;
    padding: 5rem 1rem; /* Add padding to the navbar */
    margin: auto;
}

.navbar .navbar-brand{

    color: #ffffff;
    font-size: 2rem;
}

/*Style the navigation Link*/
.navbar .nav-link{
    color: #ffffff !important;     /*White text color*/
    text-decoration: none !important; /*Remove underline*/
    border-right: 0.5px solid rgba(255,255,255,0.2);
    text-align: center;
    font-size: 1.25rem;
}

.navbar .nav-link:hover{
    color: #ffffff !important;     /*White text color*/
    transition: 0.5s all;
    background: rgba(0, 88, 52, 0.1);
 
}

.navbar .nav-link:active{
    background: rgba(255, 255, 255, 0.8); /* Darker white background on click */
    transform: scale(0.95); /* Scale down slightly to give a pressed effect */
}




/* Add media query for small screens */
@media(max-width: 576px){
    .navbar .nav-link{
        margin-right: 0; /*Remove margin for small screens*/
    }
}